<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>web02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>filter.EncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
 <!-- 프로젝트 전체에서 사용할 수 있는 전역변수 선언하기 -->
 <context-param>
 	<param-name> admin</param-name>
 	<param-value>admin@naver.com</param-value>
 </context-param>
 <context-param>
 	<param-name> business-layer</param-name>
 	<param-value>/WEB-INF/config/business-layer.xml</param-value>
 </context-param>
 <context-param>
 	<param-name> commoncss</param-name>
 	<param-value>/css/style1.css</param-value>
 </context-param>
 <context-param>
 	<param-name> dbur1</param-name>
 	<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
 </context-param>
 <context-param>
 	<param-name> dbid</param-name>
 	<param-value>scott</param-value>
 </context-param>
 <context-param>
 	<param-name> dbpw</param-name>
 	<param-value>tiger</param-value>
 </context-param>
 <!-- @webServlet("/서블릿호출명") 을 사용하지 않고 , web.xml에  servlet으로 등록하여 호출할 수 있음 -->
	<servlet>
	<servlet-name>A01Context</servlet-name>
	<servlet-class>sec.A01Context</servlet-class>
	</servlet>
</web-app>