<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>web02_1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 <!--전역변수: 현재 웹 애플리케이션의 어디서든지 해당 값을 불러와 처리할 수 있도록 설정  -->
  <context-param>
  	<param-name>logEnabled</param-name>
  	<param-value>true</param-value>
  </context-param>
    <context-param>
  	<param-name>debugLevel</param-name>
  	<param-value>5</param-value>
  </context-param>
  <!-- 서블릿 매핑 : 서블릿이 인지할수 있도록 서블릿의이름과 위치를 등록 -->


</web-app>