<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>web02_3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  <description>name 전역변수 설정</description>
  <param-name>name</param-name>
  <param-value>이민환</param-value>
  </context-param>
  <context-param>
  <description>oracle 드라이버 설정</description>
  <param-name>ojdbc</param-name>
  <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
   	<error-page>
  	<error-code>404</error-code>
  	<location>/ErrorFileNotFound.jsp</location>
  	</error-page>
</web-app>
